RewriteEngine On
RewriteBase /site/main
RewriteRule   ^$  home.html [R,L]

    RewriteRule ^Ant\+Tasks$ ant-tasks.html [R,L]
    RewriteRule ^Architecture$ architecture.html [R,L]
    RewriteRule ^Articles$ articles.html [R,L]
    RewriteRule ^AssemblyDescriptorTask$ assemblydescriptortask.html [R,L]
    RewriteRule ^Background\+to\+ServiceMix$ background-to-servicemix.html [R,L]
    RewriteRule ^Basic$ basic.html [R,L]
    RewriteRule ^Becoming\+a\+committer$ becoming-a-committer.html [R,L]
    RewriteRule ^BPEL$ bpel.html [R,L]
    RewriteRule ^BPEL\+example$ bpel-example.html [R,L]
    RewriteRule ^BPM$ bpm.html [R,L]
    RewriteRule ^Building$ building.html [R,L]
    RewriteRule ^Cache$ cache.html [R,L]
    RewriteRule ^Client\+API$ client-api.html [R,L]
    RewriteRule ^Clustering$ clustering.html [R,L]
    RewriteRule ^Component\+helper\+classes$ component-helper-classes.html [R,L]
    RewriteRule ^Component\+MBean$ component-mbean.html [R,L]
    RewriteRule ^Components$ components.html [R,L]
    RewriteRule ^Configuration$ configuration.html [R,L]
    RewriteRule ^Container\+MBean$ container-mbean.html [R,L]
    RewriteRule ^Contributing$ contributing.html [R,L]
    RewriteRule ^DeployedAssembiliesTask$ deployedassembiliestask.html [R,L]
    RewriteRule ^DeployedServiceUnitsTask$ deployedserviceunitstask.html [R,L]
    RewriteRule ^DeployServiceAssemblyTask$ deployserviceassemblytask.html [R,L]
    RewriteRule ^Discussion\+Forums$ discussion-forums.html [R,L]
    RewriteRule ^Does\+JBI\+depend\+on\+XML\+and\+WSDL$ does-jbi-depend-on-xml-and-wsdl.html [R,L]
    RewriteRule ^download$ download.html [R,L]
    RewriteRule ^Download$ download.html [R,L]
    RewriteRule ^Downloads$ downloads.html [R,L]
    RewriteRule ^Drools$ drools.html [R,L]
    RewriteRule ^Eclipse\+plugin$ eclipse-plugin.html [R,L]
    RewriteRule ^Email$ email.html [R,L]
    RewriteRule ^Environment\+Context\+MBean$ environment-context-mbean.html [R,L]
    RewriteRule ^Environment\+MBean$ environment-mbean.html [R,L]
    RewriteRule ^Errors$ errors.html [R,L]
    RewriteRule ^Examples$ examples.html [R,L]
    RewriteRule ^Expressions$ expressions.html [R,L]
    RewriteRule ^FAQ$ faq.html [R,L]
    RewriteRule ^File$ file.html [R,L]
    RewriteRule ^file\+binding$ file-binding.html [R,L]
    RewriteRule ^File\+Binding$ file-binding.html [R,L]
    RewriteRule ^FTP$ ftp.html [R,L]
    RewriteRule ^General$ general.html [R,L]
    RewriteRule ^Geronimo\+Integration$ geronimo-integration.html [R,L]
    RewriteRule ^Getting\+Started$ getting-started.html [R,L]
    RewriteRule ^Glossary$ glossary.html [R,L]
    RewriteRule ^Groovy$ groovy.html [R,L]
    RewriteRule ^Home$ home.html [R,L]
    RewriteRule ^How\+can\+I\+get\+the\+source\+code\+from\+subversion$ how-can-i-get-the-source-code-from-subversion.html [R,L]
    RewriteRule ^How\+can\+I\+work\+with\+binary\+messages$ how-can-i-work-with-binary-messages.html [R,L]
    RewriteRule ^How\+does\+a\+provider\+web\+service\+expose\+itself\+or\+registers\+itself\+on\+the\+bus$ how-does-a-provider-web-service-expose-itself-or-registers-itself-on-the-bus.html [R,L]
    RewriteRule ^How\+does\+JBI\+compare\+to\+JMS$ how-does-jbi-compare-to-jms.html [R,L]
    RewriteRule ^How\+does\+routing\+work\+in\+JBI$ how-does-routing-work-in-jbi.html [R,L]
    RewriteRule ^How\+does\+routing\+work\+in\+ServiceMix$ how-does-routing-work-in-servicemix.html [R,L]
    RewriteRule ^How\+does\+ServiceMix\+compare\+to\+Celtix$ how-does-servicemix-compare-to-celtix.html [R,L]
    RewriteRule ^How\+does\+ServiceMix\+compare\+to\+Mule$ how-does-servicemix-compare-to-mule.html [R,L]
    RewriteRule ^How\+does\+ServiceMix\+compare\+to\+Synapse$ how-does-servicemix-compare-to-synapse.html [R,L]
    RewriteRule ^How\+does\+ServiceMix\+compare\+to\+Tuscany\+or\+SCA$ how-does-servicemix-compare-to-tuscany-or-sca.html [R,L]
    RewriteRule ^How\+does\+ServiceMix\+interact\+with\+a\+UDDI\+repository$ how-does-servicemix-interact-with-a-uddi-repository.html [R,L]
    RewriteRule ^How\+does\+the\+website\+work$ how-does-the-website-work.html [R,L]
    RewriteRule ^How\+do\+I\+bridge\+different\+JMS\+providers$ how-do-i-bridge-different-jms-providers.html [R,L]
    RewriteRule ^How\+do\+I\+build\+but\+disable\+the\+unit\+tests$ how-do-i-build-but-disable-the-unit-tests.html [R,L]
    RewriteRule ^How\+do\+I\+compile\+from\+the\+source$ how-do-i-compile-from-the-source.html [R,L]
    RewriteRule ^How\+do\+I\+edit\+the\+website$ how-do-i-edit-the-website.html [R,L]
    RewriteRule ^How\+do\+you\+invoke\+an\+endpoint\+through\+the\+ESB$ how-do-you-invoke-an-endpoint-through-the-esb.html [R,L]
    RewriteRule ^HTTP$ http.html [R,L]
    RewriteRule ^HTTP\+binding$ http-binding.html [R,L]
    RewriteRule ^I\+can\+not\+create\+a\+JIRA\+issue$ i-can-not-create-a-jira-issue.html [R,L]
    RewriteRule ^Ideas$ ideas.html [R,L]
    RewriteRule ^images$ images.html [R,L]
    RewriteRule ^index\.html$ indexhtml.html [R,L]
    RewriteRule ^InstallAssemblyTask$ installassemblytask.html [R,L]
    RewriteRule ^InstallComponentTask$ installcomponenttask.html [R,L]
    RewriteRule ^InstallSharedLibraryTask$ installsharedlibrarytask.html [R,L]
    RewriteRule ^Introduction\+to\+ESB$ introduction-to-esb.html [R,L]
    RewriteRule ^Is\+JBI\+relevant\+in\+a\+heterogeneous\+environment$ is-jbi-relevant-in-a-heterogeneous-environment.html [R,L]
    RewriteRule ^Jabber$ jabber.html [R,L]
    RewriteRule ^JAX\+WS$ jax-ws.html [R,L]
    RewriteRule ^JBI\+Questions$ jbi-questions.html [R,L]
    RewriteRule ^JBoss\+Deployer$ jboss-deployer.html [R,L]
    RewriteRule ^jboss-screenshot\.png$ jboss-screenshotpng.html [R,L]
    RewriteRule ^JCA$ jca.html [R,L]
    RewriteRule ^JCache$ jcache.html [R,L]
    RewriteRule ^JMS$ jms.html [R,L]
    RewriteRule ^jms-binding$ jms-binding.html [R,L]
    RewriteRule ^JMX\+Console$ jmx-console.html [R,L]
    RewriteRule ^JNDI\+configuration$ jndi-configuration.html [R,L]
    RewriteRule ^Life\+Cycle\+MBean$ life-cycle-mbean.html [R,L]
    RewriteRule ^ListBindingComponentsTask$ listbindingcomponentstask.html [R,L]
    RewriteRule ^ListServiceAssembliesTask$ listserviceassembliestask.html [R,L]
    RewriteRule ^ListServiceEnginesTask$ listserviceenginestask.html [R,L]
    RewriteRule ^ListSharedLibrariesTask$ listsharedlibrariestask.html [R,L]
    RewriteRule ^Loan\+Broker\+example$ loan-broker-example.html [R,L]
    RewriteRule ^Mailing\+Lists$ mailing-lists.html [R,L]
    RewriteRule ^Management$ management.html [R,L]
    RewriteRule ^Managment\+Console$ managment-console.html [R,L]
    RewriteRule ^Maven\+cannot\+download\+dependencies$ maven-cannot-download-dependencies.html [R,L]
    RewriteRule ^Maven\+JBI\+plugin$ maven-jbi-plugin.html [R,L]
    RewriteRule ^Maven\+SAR\+plugin$ maven-sar-plugin.html [R,L]
    RewriteRule ^Message\+Flow\+MBean$ message-flow-mbean.html [R,L]
    RewriteRule ^mx4j\.remote\.resolver\.rmi\.RMIResolver\.bindServer\+exception$ mx4jremoteresolverrmirmiresolverbindserver-exception.html [R,L]
    RewriteRule ^Navigation$ navigation.html [R,L]
    RewriteRule ^News$ news.html [R,L]
    RewriteRule ^NMR$ nmr.html [R,L]
    RewriteRule ^NMR\+Broker\+MBean$ nmr-broker-mbean.html [R,L]
    RewriteRule ^NMR\+Flows$ nmr-flows.html [R,L]
    RewriteRule ^POJO\+support$ pojo-support.html [R,L]
    RewriteRule ^Publish\+Subscribe\+Routing$ publish-subscribe-routing.html [R,L]
    RewriteRule ^Quartz$ quartz.html [R,L]
    RewriteRule ^quartz-binding$ quartz-binding.html [R,L]
    RewriteRule ^QuickLinks$ quicklinks.html [R,L]
    RewriteRule ^Reflection$ reflection.html [R,L]
    RewriteRule ^Release\+Guide$ release-guide.html [R,L]
    RewriteRule ^Roadmap$ roadmap.html [R,L]
    RewriteRule ^Routing$ routing.html [R,L]
    RewriteRule ^RSS$ rss.html [R,L]
    RewriteRule ^RSS-binding$ rss-binding.html [R,L]
    RewriteRule ^Running$ running.html [R,L]
    RewriteRule ^SAAJ$ saaj.html [R,L]
    RewriteRule ^Scheduling$ scheduling.html [R,L]
    RewriteRule ^Scripting$ scripting.html [R,L]
    RewriteRule ^Seda\+Flow\+MBean$ seda-flow-mbean.html [R,L]
    RewriteRule ^ServiceMix$ servicemix.html [R,L]
    RewriteRule ^ServiceMix\+1\.0\+M1\+Release$ servicemix-10-m1-release.html [R,L]
    RewriteRule ^ServiceMix\+1\.0\+M2\+Release$ servicemix-10-m2-release.html [R,L]
    RewriteRule ^ServiceMix\+1\.0\+Release$ servicemix-10-release.html [R,L]
    RewriteRule ^ServiceMix\+1\.1\+Release$ servicemix-11-release.html [R,L]
    RewriteRule ^ServiceMix\+2\.0\+Release$ servicemix-20-release.html [R,L]
    RewriteRule ^ShutDownAssemblyTask$ shutdownassemblytask.html [R,L]
    RewriteRule ^ShutDownComponentTask$ shutdowncomponenttask.html [R,L]
    RewriteRule ^ShutDownServiceAssemblyTask$ shutdownserviceassemblytask.html [R,L]
    RewriteRule ^Source$ source.html [R,L]
    RewriteRule ^Spring\+Client\+Toolkit$ spring-client-toolkit.html [R,L]
    RewriteRule ^Spring\+support$ spring-support.html [R,L]
    RewriteRule ^StartAssemblyTask$ startassemblytask.html [R,L]
    RewriteRule ^StartComponentTask$ startcomponenttask.html [R,L]
    RewriteRule ^StartServiceAssemblyTask$ startserviceassemblytask.html [R,L]
    RewriteRule ^StopAssemblyTask$ stopassemblytask.html [R,L]
    RewriteRule ^StopComponentTask$ stopcomponenttask.html [R,L]
    RewriteRule ^StopServiceAssemblyTask$ stopserviceassemblytask.html [R,L]
    RewriteRule ^Subscription$ subscription.html [R,L]
    RewriteRule ^Team$ team.html [R,L]
    RewriteRule ^Terminology$ terminology.html [R,L]
    RewriteRule ^Tomcat\+Integration$ tomcat-integration.html [R,L]
    RewriteRule ^Tomcat\+Integration\+for\+ServiceMix\+1\.1\+and\+2\.0$ tomcat-integration-for-servicemix-11-and-20.html [R,L]
    RewriteRule ^Transformation$ transformation.html [R,L]
    RewriteRule ^UndeployServiceAssemblyTask$ undeployserviceassemblytask.html [R,L]
    RewriteRule ^UninstallAssemblyTask$ uninstallassemblytask.html [R,L]
    RewriteRule ^UninstallComponentTask$ uninstallcomponenttask.html [R,L]
    RewriteRule ^UninstallSharedLibraryTask$ uninstallsharedlibrarytask.html [R,L]
    RewriteRule ^Use\+Cases$ use-cases.html [R,L]
    RewriteRule ^Users$ users.html [R,L]
    RewriteRule ^Using\+ServiceMix$ using-servicemix.html [R,L]
    RewriteRule ^Validation$ validation.html [R,L]
    RewriteRule ^VFS$ vfs.html [R,L]
    RewriteRule ^War\+Deployment$ war-deployment.html [R,L]
    RewriteRule ^WAR\+Deployment$ war-deployment.html [R,L]
    RewriteRule ^What\+is\+JBI$ what-is-jbi.html [R,L]
    RewriteRule ^What\+is\+ServiceMix$ what-is-servicemix.html [R,L]
    RewriteRule ^What\+is\+the\+license$ what-is-the-license.html [R,L]
    RewriteRule ^What\+platforms\+does\+ServiceMix\+support$ what-platforms-does-servicemix-support.html [R,L]
    RewriteRule ^Why\+does\+my\+sender\+not\+send$ why-does-my-sender-not-send.html [R,L]
    RewriteRule ^WSIF$ wsif.html [R,L]
    RewriteRule ^WS\+Notification$ ws-notification.html [R,L]
    RewriteRule ^WS\+Notification\+XMLBeans$ ws-notification-xmlbeans.html [R,L]
    RewriteRule ^XFire$ xfire.html [R,L]
    RewriteRule ^XFIRE-binding$ xfire-binding.html [R,L]
    RewriteRule ^Xml\+Reference$ xml-reference.html [R,L]
    RewriteRule ^XPath\+Router$ xpath-router.html [R,L]
    RewriteRule ^XSLT$ xslt.html [R,L]
    RewriteRule ^XSQL$ xsql.html [R,L]
