<configuration>
<!--  scan="true" scanPeriod="5 seconds" debug="true"> -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%.15thread] %-5level %logger{36}:%line - %msg%n</pattern> -->
			<pattern>[%.15thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="Events.Bundle" level="ERROR"/>
	<logger name="Events.Framework" level="ERROR"/>
	<logger name="Events.Service" level="INFO"/>
	<logger name="LogService" level="ERROR"/>

	<logger name="Events.Service.org" level="ERROR"/>
	<logger name="Events.Service.cdi-itests" level="INFO"/>
	<logger name="Events.Service.org.apache.aries" level="INFO"/>

	<logger name="LogService.org.apache.aries.cdi.itests" level="OFF"/>

	<logger name="org.apache.aries.cdi" level="DEBUG"/>
	<!-- <logger name="org.apache.aries.cdi.container.internal.container" level="ERROR"/> -->

	<logger name="org.eclipse" level="ERROR"/>
	<logger name="org.jboss" level="ERROR"/>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
