.classpath
.idea
.metadata
.project
.recommenders
.settings
faces-config.pageflow
navigation-rule.NavData
nb-configuration.xml
rebel.xml
target
*.sh
*.iml
*.ipr
*.iws
/*/generated
/*/*.jar
/*/TEST-*.xml
