<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:jpa="http://aries.apache.org/xmlns/jpan/v1.0.0"
	xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<jpa:enable />

	<service ref="carServiceEmf"
		interface="org.apache.aries.jpa.itest.testbundle.service.CarService">
		<service-properties>
			<entry key="type" value="emf" />
		</service-properties>
	</service>
	
	<bean id="carServiceEmf"
		class="org.apache.aries.jpa.itest.testbundle.service.impl.CarServiceWithEmfImpl">
		<tx:transaction method="*" value="Required" />
	</bean>
	
	<service ref="carServiceEm"
		interface="org.apache.aries.jpa.itest.testbundle.service.CarService">
		<service-properties>
			<entry key="type" value="em" />
		</service-properties>
	</service>
	
	<bean id="carServiceEm"
		class="org.apache.aries.jpa.itest.testbundle.service.impl.CarServiceImpl">
		<tx:transaction method="*" value="Required" />
	</bean>
	
	<service ref="carServiceEmSupplier"
		interface="org.apache.aries.jpa.itest.testbundle.service.CarService">
		<service-properties>
			<entry key="type" value="supplier" />
		</service-properties>
	</service>
	
	<bean id="carServiceEmSupplier"
		class="org.apache.aries.jpa.itest.testbundle.service.impl.CarServiceWithSupplierImpl">
		<tx:transaction method="*" value="Required" />
	</bean>
	
	<service ref="carServiceMulti"
		interface="org.apache.aries.jpa.itest.testbundle.service.CarService">
		<service-properties>
			<entry key="type" value="multiannotation" />
		</service-properties>
	</service>
	
	<bean id="carServiceMulti"
		class="org.apache.aries.jpa.itest.testbundle.service.impl.CarServiceWithMultiAnnotationImpl">
		<tx:transaction method="*" value="Required" />
	</bean>
    
</blueprint>

