<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">

  <description>blueprint web sample</description>

  <display-name>blueprint web sample</display-name>

  <context-param>
      <param-name>blueprintLocation</param-name>
      <param-value>META-INF/test.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.apache.aries.blueprint.web.BlueprintContextListener</listener-class>
  </listener>

    <servlet>
        <servlet-name>accounts</servlet-name>
        <servlet-class>org.apache.aries.blueprint.sample.AccountsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>accounts</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>

